.logo {
  display: flex;
  max-width: 200px;
  left: 50%;
}

.margin {
  background-color: #030a08;
}

.loginBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #030a08;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  flex-direction: column;
}

.loginContainer {
  background-color: var(--color-darkslategray-200);
  color: #fff;
  margin-top: 5px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  
}

.loginTitle {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.formField {
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

input {
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: border-bottom-color 0.3s;
  background-color: #1e463a;
  color: #fff;
}

input:focus {
  border-bottom-color: #4a90e2;
}

.loginButton {
  align-items: center;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3e6d5a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #1e463a;
}

.loginButton:active {
  background-color: #567b69;
}

@media (max-width: 768px) {
  .logo {
    max-width: 100%;
  }
  .loginTitle {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }

  .formField {
    font-size: 24px;
    line-height: 24px;
  }
  .loginContainer {
  align-items: center;
  padding-bottom: 20%;
  
  
  }
  .loginButton{
    margin-top: 30px;
    font-size: 24px;
    line-height: 24px;
  }
}
