.recompensasChild {
  position: absolute;
  top: 122px;
  left: 313px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-1200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 996px;
  height: 667px;
}
.minhasRecompensas {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 434px;
}
.todasAsSuas {
  position: relative;
  font-size: var(--bcx-barlow-labe-medium-size);
  display: flex;
  align-items: center;
  width: 870px;
}
.minhasRecompensasParent {
  position: absolute;
  top: 168px;
  left: 364px;
  width: 536px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.reivindiqueUmCdigo {
  position: relative;
  letter-spacing: 0.13px;
  line-height: 19.67px;
}
.botao1 {
  position: absolute;
  top: 163px;
  left: 974px;
  border-radius: 7.15px;
  background: linear-gradient(214.58deg, #00cb08, #00bf6f);
  height: 52px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 9.951604843139648px var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 13.41px;
  color: var(--color-gray-1000);
}
.frameChild,
.recompensasItem {
  position: absolute;
  top: 262px;
  left: 351px;
  background-color: var(--color-gainsboro);
  width: 919px;
  height: 1px;
}
.frameChild {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 284px;
  height: 401px;
}
.frameItem {
  position: relative;
  width: 95.68px;
  height: 95.68px;
  overflow: hidden;
  flex-shrink: 0;
}
.convideAmigosGanhe,
.indiqueUmAmigo {
  position: relative;
  justify-content: center;
}
.indiqueUmAmigo {
  display: flex;
  align-items: center;
  width: 240px;
}
.convideAmigosGanhe {
  font-size: 11.92px;
  font-weight: 500;
  width: 196px;
  height: 51px;
  flex-shrink: 0;
}
.botao11,
.convideAmigosGanhe,
.frameGroup {
  display: flex;
  align-items: center;
}
.botao11 {
  border-radius: 7.15px;
  background: linear-gradient(214.58deg, #00cb08, #00bf6f);
  width: 196px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 9.951604843139648px 13.268806457519531px;
  box-sizing: border-box;
  justify-content: center;
  text-align: left;
  font-size: 13.41px;
  color: var(--color-gray-1000);
}
.frameGroup {
  position: absolute;
  top: 33px;
  left: 20px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25.04px;
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 310px;
  width: 284px;
  height: 401px;
}
.bnusDeDepsito {
  margin-block-start: 0;
  margin-block-end: 0.61px;
}
.rodadasGrtis {
  margin: 0;
}
.bnusDeDepsitoContainer1 {
  line-break: anywhere;
  width: 100%;
}
.bnusDeDepsitoContainer,
.depositeEReceba {
  position: relative;
  display: flex;
  align-items: center;
}
.bnusDeDepsitoContainer {
  font-size: 17.29px;
  width: 240px;
}
.depositeEReceba {
  font-weight: 500;
  justify-content: center;
  width: 195.83px;
}
.frameParent,
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 284px;
  height: 401px;
  font-size: 11.92px;
}
.frameParent {
  top: 320px;
  left: 364px;
  width: 594px;
  text-align: center;
  font-size: 17.29px;
}
.recompensas {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 1480px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--text);
  font-family: var(--font-poppins);
}
