.settingsPreferenciasInner {
  position: absolute;
  top: 210px;
  left: calc(50% - 309px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.settingsPreferenciasChild {
  position: absolute;
  top: 172px;
  left: 314px;
  background-color: var(--color-darkslategray-100);
  width: 996px;
  height: 1px;
}
.perfil {
  position: relative;
  font-weight: 500;
}
.perfilWrapper {
  color: var(--color-lightyellow);
}
.documentosWrapper,
.perfilWrapper,
.prefernciasWrapper {
  border-radius: var(--br-5xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.prefernciasWrapper {
  background-color: var(--color-gray-100);
}
.frameParent {
  position: absolute;
  top: 100px;
  left: calc(50% - 401px);
  width: 1009px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.settingsPreferencias {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 1480px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--text);
  font-family: var(--font-poppins);
}
