.informaesDaConta {
  position: relative;
  font-size: var(--font-size-mid);
  text-transform: uppercase;
  font-weight: 500;
}
.diogoBarbosa,
.nomeDeExibio {
  position: relative;
  display: inline-block;
  width: 431.32px;
  height: 19px;
  flex-shrink: 0;
}
.diogoBarbosa {
  font-size: var(--bcx-barlow-labe-medium-size);
  font-weight: 600;
  margin-top: -3px;
}
.nomeDeExibioParent,
.typebox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.typebox {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
  width: 313px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 11.12930965423584px 14.839079856872559px;
  box-sizing: border-box;
  align-items: center;
}
.diogohfbarbosagmailcom {
  position: relative;
  font-size: var(--bcx-barlow-labe-medium-size);
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 431.32px;
  height: 19px;
  flex-shrink: 0;
  text-decoration: none;
  margin-top: -3px;
}
.typeboxParent {
  flex-direction: row;
}
.frameParent,
.informaesDaContaParent,
.typeboxParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.informaesDaContaParent {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-1200);
  width: 697px;
  height: 227px;
  flex-direction: column;
  padding: var(--padding-lgi) var(--padding-12xl);
  box-sizing: border-box;
}
.frameParent {
  position: absolute;
  top: 204px;
  left: 319px;
  flex-direction: row;
}
.perfil {
  position: relative;
  font-weight: 500;
}
.perfilWrapper {
  background-color: var(--color-gray-100);
  color: var(--color-lightyellow);
}
.documentosWrapper,
.perfilWrapper {
  border-radius: var(--br-5xs);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.frameGroup {
  position: absolute;
  top: 100px;
  left: calc(50% - 401px);
  width: 1009px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-sm);
}
.settingsPerfilChild {
  position: absolute;
  top: 172px;
  left: 314px;
  background-color: var(--color-darkslategray-100);
  width: 996px;
  height: 1px;
}
.settingsPerfil {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 1480px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--text);
  font-family: var(--font-poppins);
}
