.footerContainer {
  position: relative;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footerColumn {
  width: calc(100% / 3);
  margin-bottom: 40px;
}

.footerTitle {
  font-size: 18px;
  margin-bottom: 20px;
}

.socialIcons {
  display: flex;
}

.iconLink {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.footerBottom {
  text-align: center;
  margin-top: 40px;
}

.footerBottom p {
  font-size: 14px;
}

.paymentLogos {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.gameLogos {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.logo {
  width: 20%;
  height: auto;
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
  }

  .footerColumn {
    width: 100%;
  }
}
