.tShirtIcon {
  position: relative;
  width: 28.07px;
  height: 28.07px;
}
.boletim {
  position: relative;
  letter-spacing: 0.14px;
  line-height: 27.66px;
  font-weight: 500;
}
.tShirtParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.61px;
}
.closeIcon {
  position: relative;
  width: 28.07px;
  height: 28.07px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20.59px;
}
.simples {
  position: relative;
  letter-spacing: 0.09px;
  line-height: 17.53px;
  font-weight: 500;
}
.simplesWrapper {
  flex: 1;
  border-radius: 7.49px 0 0 7.49px;
  background-color: var(--color-gray-100);
  height: 44px;
  padding: 10.414782524108887px 13.88637638092041px;
  justify-content: center;
}
.frameContainer,
.multiplaWrapper,
.simplesWrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.multiplaWrapper {
  flex: 1;
  border-radius: 0 7.49px 7.49px 0;
  background-color: var(--color-darkslategray-700);
  height: 44px;
  padding: 10.414782524108887px 13.88637638092041px;
  justify-content: center;
}
.frameContainer {
  align-self: stretch;
  border-radius: 7.49px;
  height: 63px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 10.414782524108887px var(--padding-0);
  justify-content: flex-start;
}
.vectorIcon {
  position: relative;
  width: 16.54px;
  height: 16.54px;
}
.liverpoolFcVs {
  position: relative;
  line-height: 123%;
  font-weight: 500;
}
.frameWrapper,
.vectorParent {
  display: flex;
  flex-direction: row;
}
.vectorParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.55px;
}
.frameWrapper {
  align-self: stretch;
  border-radius: 7.49px;
  border: 0.9px solid var(--color-darkslategray-1100);
  box-sizing: border-box;
  height: 53.34px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 10.414782524108887px 13.88637638092041px;
  align-items: center;
  justify-content: center;
  color: var(--color-mediumaquamarine);
}
.odds420Wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv,
.frameWrapper1,
.odds420Wrapper {
  display: flex;
  flex-direction: row;
}
.frameWrapper1 {
  flex: 1;
  border-radius: 7.49px;
  border: 0.9px solid var(--color-darkslategray-1100);
  box-sizing: border-box;
  height: 53.34px;
  overflow: hidden;
  padding: 10.414782524108887px 13.88637638092041px;
  align-items: center;
  justify-content: center;
}
.frameDiv {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.91px;
  color: var(--color-mediumaquamarine);
}
.b,
.editIcon {
  position: absolute;
}
.b {
  top: 0.41px;
  left: 52.9px;
  line-height: 123%;
  display: inline-block;
  width: 65px;
}
.editIcon {
  top: 2.41px;
  left: 130.43px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.parent {
  position: relative;
  width: 150.66px;
  height: 25.27px;
  text-align: right;
  font-size: var(--font-size-xl);
}
.frameWrapper3,
.valorDaApostaParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.valorDaApostaParent {
  width: 387px;
  justify-content: space-between;
}
.frameWrapper3 {
  align-self: stretch;
  border-radius: 7.49px;
  background-color: var(--color-darkslategray-700);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 78px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 10.414782524108887px var(--padding-lg);
  justify-content: flex-start;
}
.b1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 123%;
  display: inline-block;
  text-align: right;
  width: 150.66px;
  flex-shrink: 0;
}
.retornoPossvelParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frameParent,
.frameWrapper4,
.makeBetWrapper {
  border-radius: 7.49px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.frameWrapper4 {
  align-self: stretch;
  height: 53.34px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 10.414782524108887px 13.88637638092041px;
  justify-content: flex-start;
  color: var(--color-mediumaquamarine);
}
.frameParent,
.makeBetWrapper {
  justify-content: center;
}
.makeBetWrapper {
  align-self: stretch;
  background: linear-gradient(214.58deg, #00fa0a, #faf000);
  height: 51.47px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 10.414782524108887px 13.88637638092041px;
  font-size: 17.89px;
  color: var(--color-gray-600);
}
.frameParent {
  position: absolute;
  top: 162px;
  left: 926px;
  background-color: var(--color-gray-200);
  border: 0.7px solid var(--color-darkslategray-100);
  width: 481px;
  height: 537px;
  flex-direction: column;
  padding: 20.587549209594727px 30.881324768066406px 29.945526123046875px;
  gap: 15.91px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--text);
  font-family: var(--font-poppins);
}
