.menuChild,
.menuItem {
  left: 0;
  border-radius: 9.09px;
  background-color: var(--color-gainsboro);
  height: 4.13px;
}
.menuChild {
  position: absolute;
  top: 7.43px;
  width: 23.96px;
}
.menuItem {
  top: 0;
}
.menu,
.menuInner,
.menuItem,
.vectorIcon {
  position: absolute;
  width: 23.96px;
}
.menuInner {
  top: 14.87px;
  left: 0;
  border-radius: 9.09px;
  background-color: var(--color-gainsboro);
  height: 4.13px;
}
.menu,
.vectorIcon {
  top: 25px;
  left: 26px;
  height: 19px;
}
.vectorIcon {
  top: 5.09px;
  left: 0;
  width: 26.18px;
  height: 21.09px;
}
.div,
.frameChild {
  position: absolute;
  top: 1.45px;
}
.frameChild {
  left: 0.73px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 8.73px;
  height: 8.73px;
}
.div {
  left: 4.36px;
  font-weight: 500;
}
.ellipseParent,
.vectorParent {
  position: absolute;
  top: 0;
  left: 21.09px;
  width: 10.18px;
  height: 13.09px;
}
.vectorParent {
  top: 5px;
  left: 6px;
  width: 31px;
  height: 31px;
}
.frameWrapper {
  position: relative;
  width: 42px;
  height: 42px;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.tShirtIcon {
  position: relative;
  width: 18.55px;
  height: 18.55px;
  overflow: hidden;
  flex-shrink: 0;
}
.r103403 {
  position: relative;
  font-weight: 500;
}
.tShirtParent {
  border-radius: 7.42px;
  background-color: var(--color-darkslategray-200);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 11.12930965423584px 14.839079856872559px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 7.42px;
  font-size: var(--font-size-mini);
}
.depositar {
  position: relative;
  letter-spacing: 0.13px;
  line-height: 19.67px;
}
.botao2,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.botao2 {
  border-radius: var(--br-5xs);
  background: linear-gradient(214.58deg, #00cb08, #00bf6f);
  width: 121px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 11.12930965423584px 14.839079856872559px;
  box-sizing: border-box;
  justify-content: center;
  text-align: left;
  font-size: 13.41px;
  color: var(--color-gray-1000);
}
.frameParent {
  position: absolute;
  top: 15px;
  left: 856px;
  width: 551px;
  justify-content: flex-end;
  gap: var(--gap-4xl);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  width: 1440px;
  height: 70px;
  overflow: hidden;
  text-align: center;
  font-size: 6.06px;
  color: var(--text);
  font-family: var(--font-poppins);
}
