@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --bcx-barlow-labe-small: Barlow;

  /* font sizes */
  --font-size-4xs-3: 8.3px;
  --font-size-7xl-4: 26.4px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-base-5: 15.5px;
  --font-size-12xl-3: 31.3px;
  --font-size-sm-4: 13.4px;
  --font-size-mini: 15px;
  --font-size-6xs-1: 6.1px;
  --bcx-barlow-labe-medium-size: 12px;
  --font-size-lgi-1: 19.1px;
  --font-size-3xl: 22px;
  --font-size-sm-1: 13.1px;
  --font-size-lgi-3: 19.3px;
  --font-size-25xl-8: 44.8px;
  --bcx-barlow-labe-small-size: 11px;
  --font-size-base-4: 15.4px;
  --font-size-smi-4: 12.4px;
  --font-size-xs-9: 11.9px;
  --font-size-mid-3: 17.3px;
  --font-size-mid-7: 17.7px;
  --font-size-mini-2: 14.2px;
  --font-size-xs-2: 11.2px;
  --font-size-mid: 17px;
  --font-size-mid-9: 17.9px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xl-6: 20.6px;
  --font-size-3xs: 10px;
  --font-size-smi-1: 12.1px;
  --font-size-3xs-1: 9.1px;
  --font-size-3xs-7: 9.7px;
  --font-size-10xl: 29px;
  --font-size-lg-9: 18.9px;
  --font-size-base-1: 15.1px;
  --font-size-66xl-8: 85.8px;
  --font-size-11xl-2: 30.2px;
  --font-size-108xl: 127px;
  --font-size-71xl: 90px;
  --font-size-5xs: 8px;
  --font-size-13xl-7: 32.7px;

  /* Colors */
  --color-gray-400: #939094;
  --color-gray-500: #7e7e7e;
  --color-gray-600: #272727;
  --color-gray-700: #12211c;
  --color-gray-800: #101f1b;
  --color-gray-900: #101e1a;
  --color-gray-100: #0d1c18;
  --color-gray-200: #0c1c18;
  --color-gray-1000: #151515;
  --color-gray-1100: #0a1513;
  --color-gray-1200: #0a1411;
  --color-gray-1300: #0b1009;
  --color-gray-300: #030a08;
  --color-gray-1400: #030303;
  --color-gray-1500: rgba(3, 10, 8, 0.4);
  --text: #fff;
  --color-orangered: #ff3d00;
  --color-darkslategray-300: #4e6f65;
  --color-darkslategray-400: #414d58;
  --color-darkslategray-500: #49454f;
  --color-darkslategray-600: #32482a;
  --color-darkslategray-700: #24463e;
  --color-darkslategray-800: #1f3e36;
  --color-darkslategray-900: #1d3a31;
  --color-darkslategray-1000: #193831;
  --color-darkslategray-1100: #1a332d;
  --color-darkslategray-1200: #1a332c;
  --color-darkslategray-1300: #172f29;
  --color-darkslategray-100: #1c2d15;
  --color-darkslategray-200: #142c26;
  --color-gainsboro: #d9d9d9;
  --color-lavender: #cfe8ff;
  --color-mediumspringgreen: #00eda6;
  --color-darkslateblue-100: #2e2e66;
  --color-darkslateblue-200: #053867;
  --color-whitesmoke: #efefef;
  --color-mediumseagreen: #00bf6f;
  --color-greenyellow: #ccff00;
  --color-lightyellow: #fdffe5;
  --color-lightgreen: #a4e273;
  --color-firebrick: #d03131;
  --color-mediumaquamarine: #25af8d;
  --color-fuchsia: #fa00ff;
  --color-dimgray: #737373;
  --color-black: #000;

  /* Gaps */
  --gap-8xl: 27px;
  --gap-4xs-5: 8.5px;
  --gap-mid: 17px;
  --gap-5xs-4: 7.4px;
  --gap-5xs-5: 7.5px;
  --gap-23xl: 42px;
  --gap-4xl: 23px;
  --gap-5xs: 8px;
  --gap-10xs: 3px;
  --gap-16xl: 35px;
  --gap-3xs: 10px;
  --gap-xs: 12px;
  --gap-6xs: 7px;
  --gap-7xs: 6px;
  --gap-11xl: 30px;
  --gap-11xs: 2px;
  --gap-smi: 13px;
  --gap-42xl: 61px;
  --gap-6xl: 25px;
  --gap-6xs-6: 6.6px;
  --gap-3xl: 22px;
  --gap-9xl: 28px;
  --gap-2xl: 21px;
  --gap-base-9: 15.9px;
  --gap-7xs-6: 5.6px;
  --gap-3xl-7: 22.7px;
  --gap-5xs-8: 7.8px;
  --gap-7xs-5: 5.5px;
  --gap-11xs-3: 1.3px;
  --gap-smi-1: 12.1px;
  --gap-4xs: 9px;
  --gap-xs-4: 11.4px;
  --gap-40xl: 59px;
  --gap-3xl-4: 22.4px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-xl: 20px;
  --padding-39xl: 58px;
  --padding-3xs: 10px;
  --padding-6xl: 25px;
  --padding-smi-7: 12.7px;
  --padding-16xl-4: 35.4px;
  --padding-xs-1: 11.1px;
  --padding-mini-8: 14.8px;
  --padding-8xs: 5px;
  --padding-0: 0px;
  --padding-72xl: 91px;
  --padding-3xl: 22px;
  --padding-52xl-4: 71.4px;
  --padding-14xl: 33px;
  --padding-13xl: 32px;
  --padding-lg: 18px;
  --padding-9xl: 28px;
  --padding-xs: 12px;
  --padding-2xl: 21px;
  --padding-sm-3: 13.3px;
  --padding-6xs: 7px;
  --padding-sm: 14px;
  --padding-lgi: 19px;
  --padding-12xl: 31px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-xl-6: 20.6px;
  --padding-11xl-9: 30.9px;
  --padding-10xl-9: 29.9px;
  --padding-2xs-4: 10.4px;
  --padding-sm-9: 13.9px;
  --padding-mini-3: 14.3px;
  --padding-smi: 13px;
  --padding-4xs-2: 8.2px;
  --padding-xs-7: 11.7px;
  --padding-lg-1: 18.1px;
  --padding-2xl-9: 21.9px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-39xl: 58px;
  --br-43xl-9: 62.9px;
  --br-5xs-4: 7.4px;
  --br-5xs-5: 7.5px;
  --br-xs: 12px;
  --br-3xs-1: 9.1px;
  --br-xl: 20px;
  --br-4xs: 9px;
  --br-7xs: 6px;
  --br-12xs: 1px;
  --br-30xl: 49px;
  --br-5xs-2: 7.2px;
  --br-4xs-1: 8.1px;
  --br-xs-1: 11.1px;
  --br-21xl-1: 40.1px;
  --br-5xs-8: 7.8px;
  --br-21xl-7: 40.7px;
  --br-smi: 13px;
  --br-3xs-2: 9.2px;
  --br-21xl-4: 40.4px;
}
